.drawing-board {
    display: flex;
    flex-flow: column;
}

.drawing-board svg {
    background: #eee;
    width: 100%;
    flex-grow: 1;
}

.widget-insert {
    cursor: crosshair;
}

.clickable {
    cursor: pointer;
}

.selectable {
    cursor: move;
}
